<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team-tracker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/words/new">Add a New Team</a></li>
    <li role="presentation"><a href="/words">See All Teams</a></li>
    <li role="presentation"><a href="/definitions/new">Add a New Member</a></li>
    <li role="presentation"><a href="/definitions/new">See All Team Members</a></li>

</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/hiking.jpg" width="70%">
        <h1>Welcome to my Team Tracker World. <small>A journey Team Exploration!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
    </footer>
    </body>
    </html>
{{/block}}