<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team-tracker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/teams/new">Add a New Team</a></li>
    <li role="presentation"><a href="/teams">See All Teams</a></li>
    <li role="presentation"><a href="/members/new">Add a New Member</a></li>
    <li role="presentation"><a href="/members">See All Team Members</a></li>

</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/hiking.jpg" width="70%">
        <h1>Welcome to Team Tracker World. <small>A journey Team Exploration!</small></h1>
        <h4>Team tracker is the modern app for the efficient and connected teams.</h4>
        <p>Team Tracker is a Hybrid app, it's available on Web to offer Admins & Team Managers to do more.
            Do more, on the web with bulk actions. All things available on mobile,
            plus more.</p>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/members/delete">DELETE ALL Members</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}