{{#partial "content"}}

        <h1>Add a Member!</h1>

        <form action="/definitions/new" method="post">
            <p>
                <label>Team:</label>
                <select name="config[mode]">
                    {{#each descriptions }}
                        <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{ meaning }}</option>
                    {{/each}}
                </select>
            </p>
            <label for="inputDefinition">Enter Member Name</label>
            <input id="inputDefinition" name="inputDefinition" type="text">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}