{{#partial "content"}}

    <h1>member name has been saved!</h1>

    {{#if descriptions}}
        {{#each descriptions }} <!--loop-->
        <p>{{ description }}  <a href="/definitions/{{id}}"> </a> </p> <!--show-->
        <p>{{ createdAt }}</p> <!--show-->
        {{/each}}
    {{else}}
        <p>Name not entered!</p>

    {{/if}}

    <a href="/">Go Back</a>
{{/partial}}

{{> layout.hbs}}