
{{#partial "content"}}


        <h1>Add a Member!</h1>

        <form action="/members/new" method="post">
            <p>
                <label>Team:</label>
                <select id= teamName name="teamName">
                    {{#each teams }}
                        <option value="{{teamName}}" {{#selected}}selected="selected"{{/selected}}>{{ teamName }}</option>
                    {{/each}}
                </select>
            </p>
            <label for="inputMember">Enter Member Name</label>
            <input id="inputMember" name="inputMember" type="text">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{/partial}}



{{> layout.hbs}}