{{#partial "content"}}

    <h1>Success!</h1>

    <h3>Registration Confirmed. Your new team has been added.</h3>

    {{#if teams}}
        {{#each teams }} <!--loop-->
        <ul>
            <li>Team Name: <b>{{ teamName }}  </b> <a href="/teams/{{id}}">read more...</a> </li> <!--show-->
            <li>Created At: {{ createdAt }}</li> <!--show-->
        </ul>

        {{/each}}
    {{else}}
        <p></p>

    {{/if}}

    <a href="/">Go Back</a>
{{/partial}}

{{> layout.hbs}}