{{#partial "content"}}

    <h1>Success!</h1>

    <h3>Registration Confirmed. Your new team has been added.</h3>

    {{#if words}}
        {{#each words }} <!--loop-->
        <ul>
            <li>{{ meaning }}  <a href="/words/{{id}}">read more...</a> </li> <!--show-->
            <li>{{ createdAt }}</li> <!--show-->
        </ul>

        {{/each}}
    {{else}}
        <p></p>

    {{/if}}

    <a href="/">Go Back</a>
{{/partial}}

{{> layout.hbs}}