{{#partial "content"}}

        <form action="/words/new" method="post">
            <label for="teamMember">Enter Team Member</label>
            <input id="teamMember" name="teamMember" type="text">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}